


{% extends "basic.html"  %}

{% load static %}
{% block css1 %}

<link rel="stylesheet" href='{% static "css/pages/aboutuspage.css" %}'>

{% endblock %}


{% block content %}



    <div class="aboutusheading">
        <h2 style="    display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        margin-top:5%;">About Us</h2>
    </div>



    <div class="aboutuscontent">

        <h2 class="aboutusheading">
            <h2 style="    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;">What we do</h2>
            <h3>We are building an aggregator platform that organizes and compares the organic E-commerce sites from the
                seller websites to provide competitive analysis.</h3>

            <div class="itemstarted" style="display: flex;
                margin: auto;
                justify-content: center;
                align-items: center;
                max-width: 80%;">
                <div class="startedboxs">
                    <div class="firstbox">
                        <i class="fa fa-plane" style="font-size: 46px;  margin: 13px;"></i>
                        <h2>Unite agriculture with technology to enable growth and transparency. </h2>
                    </div>

                </div>
                <div class="arrowbox">
                    <img src='{% static "images/aboutus/1.png" %}' style="           max-width: 48%;
                        margin-left: 35%;
    " alt="">

                </div>
            </div>
            <div class="itemstarted" style="display: flex;
                margin: auto;
                justify-content: center;
                align-items: center;
                max-width: 80%;">
                <div class="arrowbox">
                    <img src='{% static "images/aboutus/2.png" %}' style="        max-width: 48%;
    " alt="">

                </div>
                <div class="startedboxs">
                    <div class="firstbox">
                        <i class="fa fa-binoculars" style="    font-size: 46px;     margin: 13px;"></i>
                        <h2>Build an <br> ecosystem that ensures fair, sustainable and
                            proficient growth of all the stake holders in
                            agriculture. </h2>
                    </div>

                </div>

            </div>
            <div class="itemstarted" style="display: flex;
                margin: auto;
                justify-content: center;
                align-items: center;
                max-width: 80%;">
                <div class="startedboxs">
                    <div class="firstbox">
                        <i class="fa fa-bullseye" style="font-size: 46px;  margin: 13px;"></i>






                        <h2>
                            <ul>
                                <li>Use technology to optimize agricultural Supply chain.</li><br>
                                <li>Transparently in every phase of agricultural business is profitable and to provide a
                                    fair share to the stakeholders.</li><br>
                                <li>Establish a trustable connective network that connects farmers with the end
                                    consumers to
                                    enhance cost effective solutions.</li>
                            </ul>
                        </h2>
                    </div>

                </div>
                <div class="arrowbox">
                    <img src='{% static "images/aboutus/3.png" %}' style="           max-width: 48%;
                        margin-left: 35%;
    " alt="">

                </div>
            </div>

            <div class="aboutusheading">
                <h2 style="    display: flex;
                margin: auto;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                font-size: 40px;
                margin-top: 5%;
                line-height: 60px;">OUR VALUES</h2>
            </div>
            <div class="valueboxs">
                <div class="valueboxstart">
                    <h1>Transparency</h1>
                    <p>Ensure each and every step of agricultural supply chain is open and transparent.</p>
                </div>
                <div class="valueboxstart">
                    <h1>Sustainability</h1>

                    <p>Develop a stable and consistent ecosystem to make farming a profitable source</p>
                </div>
                <div class="valueboxstart">
                    <h1>Optimality</h1>

                    <p>Experiment and discover processes that give efficient results.</p>
                </div>
            </div>

            <div class="whoare">
                <div class="whorarewe">
                    <h2 style="    display: flex;
            margin: auto;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 40px;
            line-height: 60px;">WHO ARE WE</h2>
                </div>
                <h3>We are building an aggregator platform that organizes and compares the organic E-commerce sites from
                    the
                    seller websites to provide competitive analysis.</h3>
                <h2 style="    display: flex;
            margin: auto;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 40px;
            line-height: 60px;">Our Team</h2>
            </div>

            <div class="teamsinfo">
                <div class="team">
                   <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myModal1" > <img src='{% static "images/team/aditya.png" %}' alt="" srcset="">
                    <h1>V S Thejas Adithiya</h1>
                    <h5>CDO, Finance</h5>
</button>
                </div>
               
                <div class="modal" id="myModal1">
                    <div class="modal-dialog" style="max-width: 57%; ">
                      <div class="modal-content">
                  
                    
                  
                        <!-- Modal body -->
                        <div class="modal-body">
                        <div class="modalboxs" style="    display: flex;
                        ">
                            <div class="img">
                                <img src='{% static "images/team/aditya.png" %}' alt="" srcset="" style="    border-radius: 143px;">
                                <h4 style="    margin: 17px auto;
                                justify-content: center;
                                align-items: center;
                                display: flex;
                                font-weight: 800;">
                                    V S Thejas Adithiya</h4>
                                    <h5 style="    display: flex;
                                    margin: auto;
                                    justify-content: center;">CEO,Operations</h5>
                            </div>
                            <div class="content" style="   max-width: 58%;
                            margin: auto;
                            margin-left: 12%;">
                                <p>Initially faced many failures in a row but a day came to build my dream, so left my past completely, with the backing of our mentor Balasubramanian sir, started Orga Plants from an initial idea till the execution here, the root cause is to build an ecosystem in which agriculture is a profitable career for the youth and not a gamble game anymore.

                                   
                                    </p>
                                    <br>
                                    <p> First built a trustable team who are ready to tackle unconventional challenges to build a sustainable profitable business which ensures value creation throughout the agricultural supply chain which is our tagline.
                                        
                                        </p>
                            </div>
                        </div>
                        </div>
                      <div class="socialmedias">
                    <ul style="list-style: none;
                    display: flex;
                    margin: auto;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 18px;">
                    <style > 
                    .socialmedias li{
margin: 0% 5%;

                    }</style>
                        <li><a href=""><img src='{% static "images/social/instagram.png"%}'   style="    width: 30px;"  alt="" srcset=""></a></li>
                        <li><a href=""><img src='{% static "images/social/whatsapp.png" %}'   style="    width: 30px;" alt="" srcset=""></a></li>
                        <li><a href=""><img src='{% static "images/social/linkedin.png"  %}'  style="    width: 30px;" alt="" srcset=""></a></li>
                 
                    </ul>
                  </div>
                     
                     
                      </div>
                    </div>
                  </div>
                <div class="team">
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myModal2" ><img src='{% static "images/team/Manish.png" %}' alt="" srcset="">
                        <h1>Manish Thilagar</h1>
                        <h5>CDO, Finance</h5>
    </button>
                </div>
                <div class="modal" id="myModal2">
                    <div class="modal-dialog" style="max-width: 57%; ">
                      <div class="modal-content">
                  
                    
                  
                        <!-- Modal body -->
                        <div class="modal-body">
                        <div class="modalboxs" style="    display: flex;
                        ">
                            <div class="img">
                                <img src='{% static "images/team/Manish.png" %}' alt="" srcset="" style="    border-radius: 143px;">
                                <h4 style="    margin: 17px auto;
                                justify-content: center;
                                align-items: center;
                                display: flex;
                                font-weight: 800;">
                                   Manish Thilagar</h4>
                                    <h5 style="    display: flex;
                                    margin: auto;
                                    justify-content: center;">CDO, Finance</h5>
                            </div>
                            <div class="content" style="   max-width: 58%;
                            margin: auto;
                            margin-left: 12%;">
                                <p>MANISH THILAGAR is a tech. enthusiast guy who loves to explore data to get meaningful insights to solve customers challenges surrounding fair pay by making use of his skills through continues exploration. 

                                  
                                   
                                    </p>
                                    <br>
                                    <p>  Manish is responsible for the Data handling roadmap of the company. He is currently a Data analysit at Evolution Excecutive Search, he completed his BE from KIOT, salem.
                                    
                                        </p>
                            </div>
                        </div>
                        </div>
                      <div class="socialmedias">
                    <ul style="list-style: none;
                    display: flex;
                    margin: auto;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 18px;">
                    <style > 
                    .socialmedias li{
margin: 0% 5%;

                    }</style>
                        <li><a href=""><img src='{% static "images/social/instagram.png"%}'   style="    width: 30px;"  alt="" srcset=""></a></li>
                        <li><a href=""><img src='{% static "images/social/whatsapp.png" %}'   style="    width: 30px;" alt="" srcset=""></a></li>
                        <li><a href=""><img src='{% static "images/social/linkedin.png"  %}'  style="    width: 30px;" alt="" srcset=""></a></li>
                 
                    </ul>
                  </div>
                     
                     
                      </div>
                    </div>
                  </div>
                <div class="team">
                 <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myModal3">   <img src='{% static "images/team/pawan.png" %}' alt="" srcset="">
                    <h1>Pawan kumar</h1>
                    <h5>CTO, Planning</h5> 
</button>
                </div>
                <div class="modal" id="myModal3">
                    <div class="modal-dialog" style="max-width: 57%; ">
                      <div class="modal-content">
                  
                    
                  
                        <!-- Modal body -->
                        <div class="modal-body">
                        <div class="modalboxs" style="    display: flex;
                        ">
                            <div class="img">
                                <img src='{% static "images/team/pawan.png" %}' alt="" srcset="" style="    border-radius: 143px;">
                                <h4 style="    margin: 17px auto;
                                justify-content: center;
                                align-items: center;
                                display: flex;
                                font-weight: 800;">
                                   Pawan kumar</h4>
                                    <h5 style="    display: flex;
                                    margin: auto;
                                    justify-content: center;">CTO, Planning</h5>
                            </div>
                            <div class="content" style="   max-width: 58%;
                            margin: auto;
                            margin-left: 12%;">
                                <p>Pawan Kumar leads our team in technology ensures user happiness, with professional service approch. 

                                  
                                   
                                   
                                    </p>
                                    <br>
                                    <p>   He's alligned with the company'vision which belives in building a sustainable & profitable business and has done bachelor's degree from ACEIT.
                                    
                                        </p>
                                        <br><p> An Engineering Specialist with a demonstrated history of working in the education management industry, helps in team motivation, assures time and team management, and loyal leadership has strong foundation in IT.
                                        </p>
                            </div>
                        </div>
                        </div>
                  
                         <div class="socialmedias">
                    <ul style="list-style: none;
                    display: flex;
                    margin: auto;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 18px;">
                    <style > 
                    .socialmedias li{
margin: 0% 5%;

                    }</style>
                        <li><a href=""><img src='{% static "images/social/instagram.png"%}'   style="    width: 30px;"  alt="" srcset=""></a></li>
                        <li><a href=""><img src='{% static "images/social/whatsapp.png" %}'   style="    width: 30px;" alt="" srcset=""></a></li>
                        <li><a href=""><img src='{% static "images/social/linkedin.png"  %}'  style="    width: 30px;" alt="" srcset=""></a></li>
                 
                    </ul>
                  </div>
                     
                      </div>
                    </div>
                  </div>
                <div class="team">
               <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myModal4">     <img src='{% static "images/team/Sabarish.png" %}' alt="" srcset="">
                <h1>Sabarishkumar T</h1>
                   <h5>CPO, Development</h5>
</button>
                </div>
                <div class="modal" id="myModal4">
                    <div class="modal-dialog" style="max-width: 57%; ">
                      <div class="modal-content">
                  
                    
                  
                        <!-- Modal body -->
                        <div class="modal-body">
                        <div class="modalboxs" style="    display: flex;
                        ">
                            <div class="img">
                                <img src='{% static "images/team/Sabarish.png" %}' alt="" srcset="" style="    border-radius: 143px;">
                                <h4 style="    margin: 17px auto;
                                justify-content: center;
                                align-items: center;
                                display: flex;
                                font-weight: 800;">
                             Sabarishkumar T</h4>
                                    <h5 style="    display: flex;
                                    margin: auto;
                                    justify-content: center;">CPO, Development</h5>
                            </div>
                            <div class="content" style="   max-width: 58%;
                            margin: auto;
                            margin-left: 12%;">
                                <p>Sabarish is self motivated & self built person who has previously founded Matgtech Pythonanywhere, an Edtech startup which primarily focuses on learning communityfor creators, where he oversaw product development, product management and strategy.

                                   
                                   
                                    </p>
                                    <br>
                                    <p>  From the day he joined us he has served as trustable and committed team member, where he focuses on software optimisation, he's pursuing his Bachelors from the College of karpagam collage of engineering.
                                    
                                    </p>
                                        
                            </div>
                        </div>
                        </div>
                      <div class="socialmedias">
                    <ul style="list-style: none;
                    display: flex;
                    margin: auto;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 18px;">
                    <style > 
                    .socialmedias li{
margin: 0% 5%;

                    }</style>
                        <li><a href=""><img src='{% static "images/social/instagram.png"%}'   style="    width: 30px;"  alt="" srcset=""></a></li>
                        <li><a href=""><img src='{% static "images/social/whatsapp.png" %}'   style="    width: 30px;" alt="" srcset=""></a></li>
                        <li><a href=""><img src='{% static "images/social/linkedin.png"  %}'  style="    width: 30px;" alt="" srcset=""></a></li>
                 
                    </ul>
                  </div>
                     
                     
                      </div>
                    </div>
                  </div>
                <div class="team">
                 <button  type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myModal5">   <img src='{% static "images/team/Balasubramaniam.png" %}' alt="" srcset="">
                    <h1>Balaubramanyam K S </h1>
                    <h5>Our Mentor </h5>
                    </button>

                </div>

                <div class="modal" id="myModal5">
                    <div class="modal-dialog" style="max-width: 57%; ">
                      <div class="modal-content">
                  
                    
                  
                        <!-- Modal body -->
                        <div class="modal-body">
                        <div class="modalboxs" style="    display: flex;
                        ">
                            <div class="img">
                                <img src='{% static "images/team/Balasubramaniam.png" %}' alt="" srcset="" style="  border-radius: 143px; height: 198px;">
                                <h4 style="    margin: 17px auto;
                                justify-content: center;
                                align-items: center;
                                display: flex;
                                font-weight: 800;">
                         Balaubramanyam K S</h4>
                                    <h5 style="    display: flex;
                                    margin: auto;
                                    justify-content: center;">Our Mentor </h5>
                            </div>
                            <div class="content" style="   max-width: 58%;
                            margin: auto;
                            margin-left: 12%;">
                                <p>The person behind building this dream is him, from day 1 when I met him he guided us further and gave his valuable time and moral support and he suggested his open opinion by his vast amount of experience.

                                    </p>
                                    <br>
                                    <p> 
                                        He's the Founder & CEO of ProDelta Technologies and Managing Partner at Indo Pacific Impex LLP and has a profound experience of 21 years in software services industry over a period of time Prodelta has built expertise in different technologies in Web, Mobile, Internet of things (IOT), Artificial intelligence.
                                        
                                       
                                       
                                    </p>
                                        
                            </div>
                        </div>
                        </div>
                  
                         <div class="socialmedias">
                    <ul style="list-style: none;
                    display: flex;
                    margin: auto;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 18px;">
                    <style > 
                    .socialmedias li{
margin: 0% 5%;

                    }</style>
                        <li><a href=""><img src='{% static "images/social/instagram.png"%}'   style="    width: 30px;"  alt="" srcset=""></a></li>
                        <li><a href=""><img src='{% static "images/social/whatsapp.png" %}'   style="    width: 30px;" alt="" srcset=""></a></li>
                        <li><a href=""><img src='{% static "images/social/linkedin.png"  %}'  style="    width: 30px;" alt="" srcset=""></a></li>
                 
                    </ul>
                  </div>
                     
                      </div>
                    </div>
                  </div>
              <div class="team">
                  <button  type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myModal6">  <img src='{% static "images/team/Sruth.png"  %}' alt="" srcset="">
                    <h1>Sruthi S Venkataraman</h1>
                      <h5>UI/UX Designer</h5>
  </button>
                </div>  
                
                <div class="modal" id="myModal6">
                    <div class="modal-dialog" style="max-width: 57%; ">
                      <div class="modal-content">
                  
                    
                  
                        <!-- Modal body -->
                        <div class="modal-body">
                        <div class="modalboxs" style="    display: flex;
                        ">
                            <div class="img">
                                <img src='{% static "images/team/Sruth.png" %}' alt="" srcset="" style="    border-radius: 143px; height: 198px;">
                                <h4 style="    margin: 17px auto;
                                justify-content: center;
                                align-items: center;
                                display: flex;
                                font-weight: 800;">
                            Sruthi S Venkataraman</h4>
                                    <h5 style="    display: flex;
                                    margin: auto;
                                    justify-content: center;">UI/UX Designer</h5>
                            </div>
                            <div class="content" style="   max-width: 58%;
                            margin: auto;
                            margin-left: 12%;">
                                <p>Self made consistent team player who works tirelessly to make wonders happen, previously worked in Collins Aerspace and switched carrer from mechatronics to Design and to mention a innovative UI/UX designer.

                               
                                    </p>
                                    <br>
                                    <p>       From the day she joined us served as trustable and committed team member, where she focuses on design and product innovation, has pursed her Bachelors from SASTRA university.
                                   
                                   
                                    </p>
                                        
                            </div>
                        </div>
                        </div>
                      <div class="socialmedias">
                    <ul style="list-style: none;
                    display: flex;
                    margin: auto;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 18px;">
                    <style > 
                    .socialmedias li{
margin: 0% 5%;

                    }</style>
                        <li><a href=""><img src='{% static "images/social/instagram.png"%}'   style="    width: 30px;"  alt="" srcset=""></a></li>
                        <li><a href=""><img src='{% static "images/social/whatsapp.png" %}'   style="    width: 30px;" alt="" srcset=""></a></li>
                        <li><a href=""><img src='{% static "images/social/linkedin.png"  %}'  style="    width: 30px;" alt="" srcset=""></a></li>
                 
                    </ul>
                  </div>
                     
                     
                      </div>
                    </div>
                  </div>
                <div class="team">
                  <button  type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myModal7">  <img src='{% static "images/team/town.png" %}' alt="" srcset="">
                    <h1>Towncriers</h1>
                   <h5>Our Marketing Partner</h5> </button>

                </div>
                <div class="modal" id="myModal7">
                    <div class="modal-dialog" style="max-width: 57%; ">
                      <div class="modal-content">
                  
                    
                  
                        <!-- Modal body -->
                        <div class="modal-body">
                        <div class="modalboxs" style="    display: flex;
                        ">
                            <div class="img">
                                <img src='{% static "images/team/town.png" %}' alt="" srcset="" style="    border-radius: 143px;">
                                <h4 style="    margin: 17px auto;
                                justify-content: center;
                                align-items: center;
                                display: flex;
                                font-weight: 800;">
                         Towncriers </h4>
                                    <h5 style="    display: flex;
                                    margin: auto;
                                    justify-content: center;"> Our Marketing Partner</h5>
                            </div>
                            <div class="content" style="   max-width: 58%;
                            margin: auto;
                            margin-left: 12%;">
                                <p>Towncriers is an advertising agency
                                    that aims at revolutionizing the customer
                                    experience throught the use of the 
                                    latest technology.
                                    </p>
                                   
                                        
                            </div>
                        </div>
                        </div>
                  
                         <div class="socialmedias">
                    <ul style="list-style: none;
                    display: flex;
                    margin: auto;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 18px;">
                    <style > 
                    .socialmedias li{
margin: 0% 5%;

                    }</style>
                        <li><a href=""><img src='{% static "images/social/instagram.png"%}'   style="    width: 30px;"  alt="" srcset=""></a></li>
                        <li><a href=""><img src='{% static "images/social/whatsapp.png" %}'   style="    width: 30px;" alt="" srcset=""></a></li>
                        <li><a href=""><img src='{% static "images/social/linkedin.png"  %}'  style="    width: 30px;" alt="" srcset=""></a></li>
                 
                    </ul>
                  </div>
                     
                      </div>
                    </div>
                  </div>
               
            </div>
    </div>





    
{% include 'components/contact.html' %}

    {% include 'components/homefooter.html' %}
    {%  endblock %}