  <!-- footer section start -->
  {% load static %}
  <div class="contactheading" style="display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;">
      <h2>Contact Us</h2>
  </div>
      <div class="container footersection">
  
          <div class="addresspart">
              <h4 style="
              font-size: 33px;
              font-weight: 800;
          ">Address</h4>
              <div>
                  <i class=" fa fa-address-card" style="font-size: x-large;"></i>
                  <p class="footer_class address_icon">
                      #392,2nd main,3rd cross,Belathur <br>
                      Colony,Kadugodi,560067
                  </p>
              </div>
              <div>
  
              </div>
              <div>
                  <!-- <span> -->
                  <i class=" fa fa-phone" style="font-size: large;"></i><span class=" address_icon">91 99007 55502</span>
                  </span>
                  <br>
                  <span>
                      <i class="fa fa-envelope" style="font-size: large;"></i><span
                          class=" address_icon">support@orgaplants.com</span>
                      <!-- </span> -->
              </div>
          </div>
  
  
  
  
          <div class="iconfooter">
  
              <div>
                  <a href="https://www.facebook.com/login/" target="_blank">
                      <img src="static/images/social/facebook.png" alt="" srcset="" style="    max-width: 43px;
      border-radius: 10px;
      height: 44px;">
                  </a>
              </div>
  
  
              <div>
                  <a href="https://www.linkedin.com/login" target="_blank">
                     <img src="static/images/social/linkedin.png" alt="" srcset="" style="    max-width: 43px;
      border-radius: 10px;
      height: 44px;">
                  </a>
              </div>
  
              <div>
                  <a href="https://www.instagram.com/accounts/login/" target="_blank">
                    <img src="static/images/social/instagram.png" alt="" srcset="" style="    max-width: 43px;
      border-radius: 10px;
      height: 44px;">
                  </a>
              </div>
  
  
  
              <div>
                  <a href="https://web.whatsapp.com/" target="_blank">
                     <img src="static/images/social/whatsapp.png" alt="" srcset=""   style="    max-width: 43px;
      border-radius: 10px;
      height: 44px;">
                  </a>
              </div>
  
  
  
  
  
  
  
  
          </div>
  
      </div>

      <div class="startupindiaLogo" style="    display: flex;
      margin: auto;
      justify-content: center; ">
          <img src="{% static 'images/logo/StartUp.png' %}" alt="">
      </div>
      <div class="copyright">
          <h1 style="    font-size: 17px;
          margin-left: 8%;">Copyright © Plants Chain Pvt. Ltd. All Rights Reserved </h1>
      </div>
      