{% load static %}

<style>
    @media only screen and (max-width:700px){
        .specialCopyright{
             display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 6%;
        }
    }
   
</style>
<div class="startupindiaLogo" style="    display: flex;
margin: auto;
justify-content: center; ">
    <img src="{% static 'images/logo/StartUp.png' %}" alt="">
</div>
<div style=" margin-top:3%;     margin-left: -4%; display: flex;
justify-content: space-around;
margin-bottom: 4%; max-width: 78%;" class="copyright specialCopyright" >
    <h1 style="
    margin-top: 1%;
    font-size: 17px;
    margin-left: 8%;">Copyright © Plants Chain Pvt. Ltd. All Rights Reserved </h1>

    <!-- <div class="iconfooter"> -->
    
    <div class="iconsafterstartuplogo">
        <div>
            <a href="https://www.facebook.com/login/" target="_blank">
                <img src="{% static  'images/social/facebook.png' %}" alt="" srcset="" style="    max-width: 43px;
border-radius: 10px;
height: 44px;">
            </a>
        </div>


        <div>
            <a href="https://www.linkedin.com/login" target="_blank">
               <img src="{% static  'images/social/linkedin.png' %}" alt="" srcset="" style="    max-width: 43px;
border-radius: 10px;
height: 44px;">
            </a>
        </div>

        <div>
            <a href="https://www.instagram.com/accounts/login/" target="_blank">
              <img src="{% static  'images/social/instagram.png' %}" alt="" srcset="" style="    max-width: 43px;
border-radius: 10px;
height: 44px;">
            </a>
        </div>



        <div>
            <a href="https://web.whatsapp.com/" target="_blank">
               <img src="{% static  'images/social/whatsapp.png' %}" alt="" srcset=""   style="    max-width: 43px;
border-radius: 10px;
height: 44px;">
            </a>
        </div>
    </div>








    <!-- </div> -->
</div>
    <!-- copyright section end -->


